In [1]:
import pandas as pd
import numpy as np

In [23]:
df_train = pd.read_csv('./data/pima-5-1tra.dat', header=None)
df_train

        0      1     2     3      4     5      6     7          8
0    14.0  175.0  62.0  30.0    0.0  33.6  0.212  38.0   positive
1     4.0  146.0  78.0   0.0    0.0  38.5  0.520  67.0   positive
2    15.0  136.0  70.0  32.0  110.0  37.1  0.153  43.0   positive
3     5.0  116.0  74.0  29.0    0.0  32.3  0.660  35.0   positive
4     6.0    0.0  68.0  41.0    0.0  39.0  0.727  41.0   positive
..    ...    ...   ...   ...    ...   ...    ...   ...        ...
609   6.0  114.0  88.0   0.0    0.0  27.8  0.247  66.0   negative
610   6.0   92.0  92.0   0.0    0.0  19.9  0.188  28.0   negative
611   5.0  117.0  92.0   0.0    0.0  34.1  0.337  38.0   negative
612   7.0  119.0   0.0   0.0    0.0  25.2  0.209  37.0   negative
613   1.0  181.0  64.0  30.0  180.0  34.1  0.328  38.0   positive

[614 rows x 9 columns]

In [7]:
df_test = pd.read_csv('./data/pima-5-1tst.dat', header=None)
df_test

       0      1      2     3      4     5      6     7          8
0    3.0  107.0   62.0  13.0   48.0  22.9  0.678  23.0   positive
1    3.0  169.0   74.0  19.0  125.0  29.9  0.268  31.0   positive
2    4.0  171.0   72.0   0.0    0.0  43.6  0.479  26.0   positive
3    0.0  189.0  104.0  25.0    0.0  34.3  0.435  41.0   positive
4    5.0  109.0   62.0  41.0  129.0  35.8  0.514  25.0   positive
..   ...    ...    ...   ...    ...   ...    ...   ...        ...
149  0.0   97.0   64.0  36.0  100.0  36.8  0.600  25.0   negative
150  1.0  140.0   74.0  26.0  180.0  24.1  0.828  23.0   negative
151  1.0   86.0   66.0  52.0   65.0  41.3  0.917  29.0   negative
152  4.0   83.0   86.0  19.0    0.0  29.3  0.317  34.0   negative
153  1.0   95.0   66.0  13.0   38.0  19.6  0.334  25.0   negative

[154 rows x 9 columns]

In [12]:
df_test[8].value_counts()

 negative    100
 positive     54
Name: 8, dtype: int64

In [16]:
df_train[8].value_counts()

 negative    400
 positive    214
Name: 8, dtype: int64

In [46]:
df_train[[*range(8)]]

        0      1     2     3      4     5      6     7
0    14.0  175.0  62.0  30.0    0.0  33.6  0.212  38.0
1     4.0  146.0  78.0   0.0    0.0  38.5  0.520  67.0
2    15.0  136.0  70.0  32.0  110.0  37.1  0.153  43.0
3     5.0  116.0  74.0  29.0    0.0  32.3  0.660  35.0
4     6.0    0.0  68.0  41.0    0.0  39.0  0.727  41.0
..    ...    ...   ...   ...    ...   ...    ...   ...
609   6.0  114.0  88.0   0.0    0.0  27.8  0.247  66.0
610   6.0   92.0  92.0   0.0    0.0  19.9  0.188  28.0
611   5.0  117.0  92.0   0.0    0.0  34.1  0.337  38.0
612   7.0  119.0   0.0   0.0    0.0  25.2  0.209  37.0
613   1.0  181.0  64.0  30.0  180.0  34.1  0.328  38.0

[614 rows x 8 columns]

In [50]:
df_test

,0,1,2,3,4,5,6,7,8
0,-0.241214,-0.445356,-0.351025,-0.444185,-0.281120,-1.134200,0.636391,-0.874795,positive
1,-0.241214,1.484283,0.256243,-0.073208,0.384884,-0.235936,-0.607563,-0.204646,positive
2,0.052646,1.546529,0.155031,-1.247967,-0.696291,1.522096,0.032618,-0.623490,positive
3,-1.122794,2.106747,1.774412,0.297768,-0.696291,0.328688,-0.100879,0.633040,positive
4,0.346506,-0.383109,-0.351025,1.287038,0.419482,0.521173,0.138810,-0.707258,positive
...,...,...,...,...,...,...,...,...,...
149,-1.122794,-0.756588,-0.249814,0.977891,0.168649,0.649497,0.399737,-0.707258,negative
150,-0.828934,0.581710,0.256243,0.359597,0.860601,-0.980212,1.091497,-0.874795,negative
151,-0.828934,-1.098943,-0.148603,1.967161,-0.134080,1.226952,1.361526,-0.372184,negative
152,0.052646,-1.192313,0.863510,-0.073208,-0.696291,-0.312930,-0.458895,0.046659,negative
153,-0.828934,-0.818834,-0.148603,-0.444185,-0.367614,-1.557668,-0.407317,-0.707258,negative

In [48]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df_train[[*range(8)]] = scaler.fit_transform(df_train[[*range(8)]])
df_test[[*range(8)]] = scaler.transform(df_test[[*range(8)]])

In [51]:
import os
data_files = [(f'pima-5-{i}tra', f'pima-5-{i}tst') for i in range(1, 6)]
data_files

[('pima-5-1tra', 'pima-5-1tst'),
 ('pima-5-2tra', 'pima-5-2tst'),
 ('pima-5-3tra', 'pima-5-3tst'),
 ('pima-5-4tra', 'pima-5-4tst'),
 ('pima-5-5tra', 'pima-5-5tst')]

In [52]:
os.path.join('data', 'pima', '.data')

'data/pima/.data'

In [66]:
df_train.to_numpy()[:,:8].shape

(615, 8)

In [77]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

for tr, tst in data_files:
    df_train = pd.read_csv(os.path.join('./data/raw', tr+'.dat'), header=None)
    df_test = pd.read_csv(os.path.join('./data/raw', tst+'.dat'), header=None)
    df_train[8] = df_train[8].apply(str.strip).map({'positive':1, 'negative':0})
    df_test[8] = df_test[8].apply(str.strip).map({'positive':1, 'negative':0})
    df_train[[*range(8)]] = scaler.fit_transform(df_train[[*range(8)]])
    df_test[[*range(8)]] = scaler.transform(df_test[[*range(8)]])
    arr_tr = df_train.to_numpy()
    print(arr_tr.shape)
    arr_tst = df_test.to_numpy()
    print(arr_tst.shape)
    np.savez(os.path.join('data/processed', tr), X=arr_tr[:,:8], y=arr_tr[:,8])
    np.savez(os.path.join('data/processed', tst), X=arr_tst[:, :8], y=arr_tst[:, 8])

(614, 9)
(154, 9)
(614, 9)
(154, 9)
(614, 9)
(154, 9)
(615, 9)
(153, 9)
(615, 9)
(153, 9)

In [68]:
data = np.load('./data/processed/pima-5-1tra.npz')
X,y= data["X"], data["y"]

AttributeError: 'numpy.ndarray' object has no attribute 'describe'